{#
/**
 * @file
 * Default theme implementation to display a Fusion spellcheck suggestion.
 *
 * Available variables:
 * - label: Text to display in front of the did you mean.
 * - link: The link (\Drupal\Core\Link object) to which the did you mean will
 *   redirect the user.
 *
 * @ingroup themeable
 */
#}

<div class="sapi-fusion-spellcheck">
  <span class="spellcheck-prefix">{{ label }} </span>
  {{ link }}
  <span class="spellcheck-suffix">?</span>
</div>

