{#
/**
 * @file
 * Default theme implementation to display a Fusion landing pages.
 *
 * Available variables:
 * - landing_pages: Array of landing pages.
 *   Each landing page has properties: title and url.
 *   If signals are enabled it will also have the ping property.
 *
 * @ingroup themeable
 */
#}

<div class="sapi-fusion-landing-pages">
  <ul>
  {% for landing_page in landing_pages %}
    {% set ping = landing_page.ping ? 'ping='~ landing_page.ping : '' %}
    <li class="landing-page">
      <h3 class="title"><a href="{{ landing_page.url }}" {{ ping }}>{{ landing_page.title }}</a></h3>
      <div><span><a href="{{ landing_page.url }}" {{ ping }}>{{ landing_page.url }}</a></span></div>
    </li>
  {% endfor  %}
  </ul>
</div>

